.playground-root {
  flex: 1 1 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  touch-action: none;
  row-gap: 12px;
}

.slider {
  flex: 1 1 0;
  min-width: 50px;
}

.active {
  color: #ffffff;
  background-color: #007bff; /* A shade of blue */
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.action-button-wrapper {
  display: flex;
  column-gap: 12px;
  z-index: 1;
  justify-content: start;
  align-items: center;
}

.active:hover {
  background-color: #0056b3; /* Darker shade of blue */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
/* CSS */

.button:active,
.button:hover {
  outline: 0;
}

.input-file {
  display: none;
}

.buttonspan {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}
.header {
  height: 40px;
}

@media (max-width: 768px) {
  .header {
    height: 70px;
  }
  .action-button-wrapper {
    flex-wrap: wrap;
    row-gap: 6px;
  }

  .slider {
    min-width: 300px;
  }
}

.canvas-wrapper {
  flex: 1 1 0;
  min-height: 0;
  border-radius: 12px;
  background-color: #737373;
}

.canvas-parent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.canvas-merger {
  position: relative;
}

.canvas {
}
